Options -Indexes

RewriteEngine on
#RewriteCond %{REQUEST_URI} !^api/public
#RewriteRule ^(.*)$ api/public/$1 [L]
#RewriteRule ^ api/public/index.php [QSA,L]
#RewriteRule .* api/public/ [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /api/public/index.php [L,QSA]